.popup {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s linear;
}
