.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 282px;
  width: 100%;
  padding: 0 21px 0 21px;
  box-sizing: border-box;
  position: relative;
}
