.edit-button {
  background-image: url(../../images/edit-button_pic.svg);
  background-size: cover;
  padding: 0;
  border: 0;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.edit-button:hover {
  opacity: .6;
}
