.page {
  margin: 0 auto;
  color: #fff;
  background-color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  max-width: 1280px;
  /*Включим сглаживание, подгонку размеров текста в Firefox и браузерах на движке Webkit...*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
