.form__button_disabled {
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  opacity: .2;
  cursor: auto;
  transition: opacity 0.5s linear;
}

.form__button_disabled:hover {
  opacity: .2;
}
